extends ../templates/template.pug
block append config
    - titlePage = "Inicio"

block append content
    .container-fluid
        .row
            .col-12
                .card.my-5
                    .card-header.d-flex.justify-content-between.align-items-center.w-100
                        h4.card-title.mb-0.font-weight-bold.text-center Nueva observacion
                        .d-none.d-md-flex.align-items-stretch.justify-content-end.w-75
                            a.btn.font-weight-bold.mx-2(href="#") #[p.d-block.my-auto Volver]
                            a.btn.btn-info.font-weight-bold.mx-2(href="#") Guardar observacion
                        .d-sm-flex.d-md-none.align-items-center.justify-content-center.flex-column.w-50
                            a.btn.font-weight-bold.my-2.btn-block(href="#") Volver
                            a.btn.btn-info.font-weight-bold.my-2.btn-block(href="#") Guardar observacion
                    .card-body
                        form.px-3
                            .form-row.my-3
                                +customSelect({id:"id-accion", text:"ID Accion"}, ["tres", "dos", "uno"])

                                +customDatepicker({id:"date-picker", text:"Fecha", nameType: "date"})
                                
                                +customSelect({id:"sector", text:"Sector"}, ["Galpon Uno", "Galpon Dos", "Galpon Tres"])

                                +customSelect({id:"riesgo", text:"Riesgo asociado / Estandar"}, ["Otras formas 1", "Otras formas 2", "Otras formas 3"])
                                
                                +customSelect({id:"nivel-riesgo", text:"Nivel de riesgo"}, ["NO ACEPTABLE", "ACEPTABLE", "A CONFIRMAR"])
                                
                                +customSelect({id:"generado", text:"Generado por"}, ["Incidentes", "ACEPTABLE", "A CONFIRMAR"])

                            .form-row.my-3
                                +customTextarea({id:"text-area-AC", text:"Accion Correctiva"})
                                
                                +customTextarea({id:"text-area-comentario", text:"Comentario"})
                                
                                +customTextarea({id:"text-area-DR", text:"Descripcion del riesgo"})

                            .form-row.my-5
                                +customDatepicker({id:"plazo-ejecucion-inicial", text:"Plazo ejecucion inicial", nameType: "plazo-ejecucion-inicial"})

                                +customInputText({id:"reprogramacion", text:"Reprogramacion"})

                                +customSelect({id:"status", text:"Status"}, ["CUMPLIDO", "PENDIENTE", "ESPERA"])

                                +customInputText({id:"fecha-cierre", text:"Fecha de cierre"})

                                +customInputText({id:"vencimiento", text:"Vencimiento"})
                            .form-row.my-3
                                +customInputText({id:"res-seguimiento-cierre", text:"Resp. seguimiento y cierre"})

                                +customSelect({id:"sector-detecta-obs", text:"Sector que detecta la obs"}, ["1", "2", "3"])
                                
                                +customSelect({id:"sector-responsable", text:"Sector responsable"}, ["1", "2", "3"])

                                +customTextarea({id:"observacion", text:"Observacion", rows: 1})

                                +customSelect({id:"req-evicencia", text:"Requiere evidencia"}, ["Si", "No"])

                            .form-row.my-3
                                +customInputText({id:"evidencia-cierre", text:"Evidencia de cierre"})
                                
                                +customInputText({id:"resp-seguimiento-cierre", text:"Resp seguimiento y cierre"})