.elegant-color-dark.vh-100
    .container
        .row
            .col-5.offset-7.mx-auto.my-3
                .card.card-body#login
                    img(src="./img/perfil.png", height="80", width="80").d-block.mx-auto.my-3

                    .form-group
                        label(for="user") Usuario
                        input#user(type="text", name="user").form-control
                    
                    .form-group
                        label(for="password") Password
                        input#password(type="password", name="password").form-control
                    
                    .d-flex.my-2.justify-content-around.align-items-center
                        button#login-dash.btn.btn-info(type="button",href="dash.html").rounded-xl Logearse
                        a.btn(href="#").rounded-xl Olvido su password?

                .card.card-body.mt-3.p-1
                    a.btn.btn-info(href="#").rounded-xl.z-depth-0.w-75.mx-auto Registrarse
        .row
            .col-7.offset-5.mx-auto
                #error-login.alert.alert-danger.text-center.d-none(role=alert)
