.elegant-color-dark.vh-100
    .container
        .row
            section#grid-login
                .card.z-depth-0.rounded-xl#login
                    .card-body
                        img(src="./img/perfil.png", height="80", width="80").d-block.mx-auto.my-3

                        +customMaterialInput({ id:"user", text:"Usuario" })
                        +customMaterialInput({ id:"password",type:"password", text:"Password" })
                        
                        .d-flex.my-2.justify-content-around.align-items-center.font-20
                            button#login-dash.btn.btn-dark.font-weight-bold(type="button",href="dash.html") Login
                            a(href="#").btn.z-depth-0.text-dark.text-center Olvido su password?

                    hr.boldered    
                    a(href="#").spacing-3.w-75.mx-auto.mb-5.mt-4.text-uppercase.font-weight-bold.text-dark.text-center Registrarse
        .row.pt-4
            .col-5.offset-7.mx-auto
                #error-login.alert.alert-danger.text-center.text-uppercase.font-small.spacing-1.d-none(role=alert)
